h1 {
font-color: blue;
text-align: center;
}
p {
font-color: white;
}
a:link {
  text-decoration: none;
  color: red;
}

a:visited {
  text-decoration: none;
  color: green;
}

a:hover {
  text-decoration: underline;
  color: hotpink;
}

a:active {
  text-decoration: underline;
  color: blue;
}
body {
background-size: cover;
position: relative;
background-color: grey;
}
li {
color: white;
}