<h1>Client list!</h1>
#if ($client)
    <ul>
    #foreach ($client in $clients)
    <li> <a href="/clients/$client.getId()">$client.getDescription()</a> </li>
#end
</ul>
  #else
  <p>No Clients!</p>
#end

<a href="/clients/new"> Add New Client </a>

<form action="/clients" method="post">
  <label for="description">Client Description</label>
  <input id="description" name="description" type="text">

  <button type="submit" class="btn btn-default">Add client</button>
</form>