<div class="card" style="width:400px">
<h1 style="font-family: 'Tangerine', serif;"Client list!</h1>
#if ($client)
    <ul>
    #foreach ($client in $clients)
    <li> <a href="/clients/$client.getId()">$client.getDescription()</a> </li>
#end
</ul>
  #else
  <p>No Clients!</p>
#end

 <a href="/clients/new">Add New Client</a>
</div>