<h1 class="animated infinite heartBeat delay-2s">Welcome to the Wolf of 420 Street Salon</h1>
<div class="container">
<div class="card">
<h4 class="card-title"> Stylists </h4>
<a href="/stylists/new" class="card-link">Add a new Stylist</a>
<a href="/stylists" class="card-link">View all current stylists</a>
</div>
</div>
</div>